<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="customer_tickets">
    <div class="container align-content-center">
        <h1 class="text-center">Open Service Tickets</h1>
        <table class="table table-striped table-bordered border-dark">
            <thead style="text-align:center">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Case</th>
                <th scope="col">Technician</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody  style="text-align:center">

            <tr th:if="${#lists.isEmpty(serviceTickets)}">
                <td colspan="6" th:align="center">＼(ﾟｰﾟ＼) 🎉 No tickets to display 🎉 ( ﾉ ﾟｰﾟ)ﾉ</td>
            </tr>

            <tr th:if="${#lists.size(serviceTickets) > 0}" th:each="ticket : ${serviceTickets}">
                <td th:text="${ticket.dateOfCreation}"/>
                <td th:text="${ticket.time}"/>
                <td th:text="${ticket.serviceCaseId}"/>
                <td th:text="${ticket.technicianName}"/>
                <td th:text="${ticket.notes}"/>
                <!--Add a link to the ticket details page-->
                <td><a href="#" th:href="@{/ticket/{id}(id=${ticket.uid})}">View Ticket</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>